<!DOCTYPE html>
<html>

<head>
  <title>attendance_summary_supervisor</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/attendance_summary_supervisor/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/attendance_summary_supervisor/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    input {
      display: inline;
      border: 0px;
      background-color: #3BB19C;
      color: white;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="u0" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

      <!-- Unnamed (组合) -->
      <div id="u1" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

        <!-- Unnamed (矩形) -->
        <div id="u2" class="ax_default box_1">
          <div id="u2_div" class=""></div>
          <div id="u2_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3" class="ax_default box_1">
      <img id="u3_img" class="img " src="static/images/attendance_summary_supervisor/u3.svg" />
      <div id="u3_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (圆形) -->
    <div id="u4" class="ax_default ellipse">
      <img id="u4_img" class="img " src="static/images/attendance_summary_supervisor/u4.svg" />
      <div id="u4_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u5" class="ax_default _一级标题">
      <div id="u5_div" class=""></div>
      <div id="u5_text" class="text ">
        <p><span style="text-decoration:none;">{{username}}</span></p>
      </div>
    </div>

    <!-- Unnamed (表格) -->
    <div id="u6" class="ax_default">

      <!-- Unnamed (单元格) -->
      <div id="u7" class="ax_default table_cell">
        <img id="u7_img" class="img " src="static/images/attendance_summary_supervisor/u7.png" />
        <div id="u7_text" class="text ">
          <p><span style="text-decoration:none;">工号</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u8" class="ax_default table_cell">
        <img id="u8_img" class="img " src="static/images/attendance_summary_supervisor/u8.png" />
        <div id="u8_text" class="text ">
          <p><span style="text-decoration:none;">姓名</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u9" class="ax_default table_cell">
        <img id="u9_img" class="img " src="static/images/attendance_summary_supervisor/u9.png" />
        <div id="u9_text" class="text ">
          <p><span style="text-decoration:none;">所属部门</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u10" class="ax_default table_cell">
        <img id="u10_img" class="img " src="static/images/attendance_summary_supervisor/u10.png" />
        <div id="u10_text" class="text ">
          <p><span style="text-decoration:none;">正常工作时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u11" class="ax_default table_cell">
        <img id="u11_img" class="img " src="static/images/attendance_summary_supervisor/u11.png" />
        <div id="u11_text" class="text ">
          <p><span style="text-decoration:none;">平时加班时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u12" class="ax_default table_cell">
        <img id="u12_img" class="img " src="static/images/attendance_summary_supervisor/u12.png" />
        <div id="u12_text" class="text ">
          <p><span style="text-decoration:none;">节假期加班时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u13" class="ax_default table_cell">
        <img id="u13_img" class="img " src="static/images/attendance_summary_supervisor/u13.png" />
        <div id="u13_text" class="text ">
          <p><span style="text-decoration:none;">请假时长</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u14" class="ax_default table_cell">
        <img id="u14_img" class="img " src="static/images/attendance_summary_supervisor/u14.png" />
        <div id="u14_text" class="text ">
          <p><span style="text-decoration:none;">迟到/早退次数</span></p>
        </div>
      </div>

      {% load helper %}
      {% for msg in msgs %}
      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:15}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:15}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u15.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:15}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.0 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:16}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:16}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u16.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:16}}_text" class="text ">
          <u><a href="schedule_summary?e_id={{ msg.0 }}">
            <p><span style="text-decoration:none;">{{ msg.1 }}</span></p>
          </a></u>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:17}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:17}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u17.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:17}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.2 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:18}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:18}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u18.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:18}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.3 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:19}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:19}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u19.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:19}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.4 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:20}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:20}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u20.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:20}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.5 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:21}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:21}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u21.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:21}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.6 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{forloop.counter0 |mul:8 |add:22}}" class="ax_default table_cell">
        <img id="u{{forloop.counter0 |mul:8 |add:22}}_img" class="img "
          src="static/images/attendance_summary_supervisor/u22.png" />
        <div id="u{{forloop.counter0 |mul:8 |add:22}}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.7 }}</span></p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Unnamed (组合) -->
    <div id="u95" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">

      <!-- Unnamed (组合) -->
      <div id="u96" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u97" class="ax_default _一级标题">
      <div id="u97_div" class=""></div>
      <div id="u97_text" class="text ">
        <p><span style="text-decoration:none;">查询工号</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u98" class="ax_default _一级标题">
      <div id="u98_div" class=""></div>
      <div id="u98_text" class="text ">
        <p><span style="text-decoration:none;">查询职务</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u100" class="ax_default button">
      <div id="u100_div" class=""></div>
      <div id="u100_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="attendance_summary_supervisor.html">重置</a>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u101" class="ax_default" data-left="370" data-top="637" data-width="548" data-height="28">

      {% if current_page > 1 %}
      <!-- Unnamed (矩形) -->
      <div id="u108" class="ax_default label">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="attendance_summary_supervisor.html?page={{ current_page |add:-1 }}&ym={{ym}}&id={{id}}&pos={{pos}}">{{ current_page |add:-1 }}</a>
            </span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u109" class="ax_default label">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
          <p><span style="text-decoration:none;">{{ current_page }}</span></p>
        </div>
      </div>

      {% if current_page < max_page %}
      <!-- Unnamed (矩形) -->
      <div id="u110" class="ax_default label">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="attendance_summary_supervisor.html?page={{ current_page |add:1 }}&ym={{ym}}&id={{id}}&pos={{pos}}">{{ current_page |add:1 }}</a>
            </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u111" class="ax_default icon">
        <img id="u111_img" class="img " src="static/images/attendance_summary_supervisor/u111.svg" />
        <div id="u111_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u112" class="ax_default label">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
          <p><span style="text-decoration:none;">...</span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u113" class="ax_default label">
        <div id="u113_div" class=""></div>
        <div id="u113_text" class="text ">
          <p><span style="text-decoration:none;">共</span><span
              style="text-decoration:none;color:#AEAEAE;">{{ max_page }}</span><span
              style="text-decoration:none;">页&nbsp;&nbsp; 当前</span><span
              style="text-decoration:none;color:#1ABC9C;">{{ current_page }}</span><span
              style="text-decoration:none;">页</span></p>
        </div>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <a href="supervisor_home.html">
      <div id="u114" class="ax_default box_1">
        <img id="u114_img" class="img " src="static/images/attendance_summary_supervisor/u114.svg" />
        <div id="u114_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </a>

    <!-- Unnamed (矩形) -->
    <a href="supervisor_home.html">
      <div id="u115" class="ax_default _一级标题">
        <div id="u115_div" class=""></div>
        <div id="u115_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>
    </a>

    <!-- Unnamed (矩形) -->
    <div id="u116" class="ax_default _一级标题">
      <div id="u116_div" class=""></div>
      <div id="u116_text" class="text ">
        <p><span style="text-decoration:none;">&nbsp;&nbsp; 选择查询月份</span></p>
      </div>
    </div>

    <form action="attendance_summary_supervisor.html" , method="get">
      <!-- Unnamed (文本框) -->
      <div id="u117" class="ax_default text_field">
        <div id="u117_div" class=""></div>
        <input id="u117_input" type="text" name='ym' placeholder="YYYY-MM" value="" class="u117_input" />
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u118" class="ax_default text_field">
        <div id="u118_div" class=""></div>
        <input id="u118_input" type="text" name='id' value="" class="u118_input" />
      </div>

      <!-- Unnamed (下拉列表) -->
      <div id="u119" class="ax_default droplist">
        <div id="u119_div" class=""></div>
        <select id="u119_input" name="pos" class="u119_input">
          <option class="u119_input_option" value=""></option>
          <option class="u119_input_option" value="2">员工</option>
          <option class="u119_input_option" value="1">部门主管</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u99" class="ax_default button">
        <div id="u99_div" class=""></div>
        <div id="u99_text" class="text ">
          <p><span style="text-decoration:none;">
              <input type="submit" value="查询">
            </span></p>
        </div>
      </div>

      <input name="page" value="1" hidden='true'>
    </form>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>

</html>