<!DOCTYPE html>
<html>

<head>
  <title>attendance_summary</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/attendance_summary/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/attendance_summary/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    input {
      display: inline;
      border: 0px;
      background-color: #3BB19C;
      color: white;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="u784" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

      <!-- Unnamed (组合) -->
      <div id="u785" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

        <!-- Unnamed (矩形) -->
        <div id="u786" class="ax_default box_1">
          <div id="u786_div" class=""></div>
          <div id="u786_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u787" class="ax_default box_1">
      <img id="u787_img" class="img " src="static/images/attendance_summary/u787.svg" />
      <div id="u787_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (圆形) -->
    <div id="u788" class="ax_default ellipse">
      <img id="u788_img" class="img " src="static/images/emp_manage/u82.svg" />
      <div id="u788_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u789" class="ax_default _一级标题">
      <div id="u789_div" class=""></div>
      <div id="u789_text" class="text ">
        <p><span style="text-decoration:none;">{{username}}</span></p>
      </div>
    </div>

    <!-- Unnamed (表格) -->
    <div id="u790" class="ax_default">

      <!-- Unnamed (单元格) -->
      <div id="u791" class="ax_default table_cell">
        <img id="u791_img" class="img " src="static/images/attendance_summary/u791.png" />
        <div id="u791_text" class="text ">
          <p><span style="text-decoration:none;">工号</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u792" class="ax_default table_cell">
        <img id="u792_img" class="img " src="static/images/attendance_summary/u792.png" />
        <div id="u792_text" class="text ">
          <p><span style="text-decoration:none;">姓名</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u793" class="ax_default table_cell">
        <img id="u793_img" class="img " src="static/images/attendance_summary/u793.png" />
        <div id="u793_text" class="text ">
          <p><span style="text-decoration:none;">所属部门</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u794" class="ax_default table_cell">
        <img id="u794_img" class="img " src="static/images/attendance_summary/u794.png" />
        <div id="u794_text" class="text ">
          <p><span style="text-decoration:none;">正常工作时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u795" class="ax_default table_cell">
        <img id="u795_img" class="img " src="static/images/attendance_summary/u795.png" />
        <div id="u795_text" class="text ">
          <p><span style="text-decoration:none;">平时加班时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u796" class="ax_default table_cell">
        <img id="u796_img" class="img " src="static/images/attendance_summary/u796.png" />
        <div id="u796_text" class="text ">
          <p><span style="text-decoration:none;">节假期加班时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u797" class="ax_default table_cell">
        <img id="u797_img" class="img " src="static/images/attendance_summary/u797.png" />
        <div id="u797_text" class="text ">
          <p><span style="text-decoration:none;">请假时长</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u798" class="ax_default table_cell">
        <img id="u798_img" class="img " src="static/images/attendance_summary/u798.png" />
        <div id="u798_text" class="text ">
          <p><span style="text-decoration:none;">迟到/早退次数</span></p>
        </div>
      </div>

      {% load helper %}
      {%for msg in msgs%}
      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:799 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:799 }}_img" class="img "
          src="static/images/attendance_summary/u799.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:799 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.0 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:800 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:800 }}_img" class="img "
          src="static/images/attendance_summary/u800.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:800 }}_text" class="text ">
          <u><a href="schedule_summary?e_id={{ msg.0 }}">
            <p><span style="text-decoration:none;">{{ msg.1 }}</span></p>
          </a></u>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:801 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:801 }}_img" class="img "
          src="static/images/attendance_summary/u801.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:801 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.2 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:802 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:802 }}_img" class="img "
          src="static/images/attendance_summary/u802.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:802 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.3 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:803 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:803 }}_img" class="img "
          src="static/images/attendance_summary/u803.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:803 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.4 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:804 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:804 }}_img" class="img "
          src="static/images/attendance_summary/u804.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:804 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.5 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:805 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:805 }}_img" class="img "
          src="static/images/attendance_summary/u805.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:805 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.6 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:8 |add:806 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:8 |add:806 }}_img" class="img "
          src="static/images/attendance_summary/u806.png" />
        <div id="u{{ forloop.counter0 |mul:8 |add:806 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.7 }}</span></p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Unnamed (组合) -->
    <div id="u879" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">

      <!-- Unnamed (组合) -->
      <div id="u880" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u881" class="ax_default _一级标题">
      <div id="u881_div" class=""></div>
      <div id="u881_text" class="text ">
        <p><span style="text-decoration:none;">查询工号</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u882" class="ax_default _一级标题">
      <div id="u882_div" class=""></div>
      <div id="u882_text" class="text ">
        <p><span style="text-decoration:none;">查询职务</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u883" class="ax_default _一级标题">
      <div id="u883_div" class=""></div>
      <div id="u883_text" class="text ">
        <p><span style="text-decoration:none;">所属部门</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u885" class="ax_default button">
      <div id="u885_div" class=""></div>
      <div id="u885_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="attendance_summary.html">重置</a>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u886" class="ax_default" data-left="370" data-top="637" data-width="548" data-height="28">

      {% if current_page > 1 %}
      <!-- Unnamed (矩形) -->
      <div id="u893" class="ax_default label">
        <div id="u893_div" class=""></div>
        <div id="u893_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="attendance_summary.html?page={{ current_page |add:-1 }}&ym={{ym}}&id={{id}}&pos={{pos}}&depart={{depart}}">{{ current_page |add:-1 }}</a>
            </span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u894" class="ax_default label">
        <div id="u894_div" class=""></div>
        <div id="u894_text" class="text ">
          <p><span style="text-decoration:none;">{{ current_page }}</span></p>
        </div>
      </div>

      {% if current_page < max_page %}
      <!-- Unnamed (矩形) -->
      <div id="u895" class="ax_default label">
        <div id="u895_div" class=""></div>
        <div id="u895_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="attendance_summary.html?page={{ current_page |add:1 }}&ym={{ym}}&id={{id}}&pos={{pos}}&depart={{depart}}">{{ current_page |add:1 }}</a>
            </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u896" class="ax_default icon">
        <img id="u896_img" class="img " src="static/images/emp_manage/u172.svg" />
        <div id="u896_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u897" class="ax_default label">
        <div id="u897_div" class=""></div>
        <div id="u897_text" class="text ">
          <p><span style="text-decoration:none;">...</span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u898" class="ax_default label">
        <div id="u898_div" class=""></div>
        <div id="u898_text" class="text ">
          <p><span style="text-decoration:none;">共</span><span
              style="text-decoration:none;color:#AEAEAE;">{{max_page}}</span><span
              style="text-decoration:none;">页&nbsp;&nbsp; 当前</span><span
              style="text-decoration:none;color:#1ABC9C;">{{current_page}}</span><span
              style="text-decoration:none;">页</span></p>
        </div>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <a href="manager_home.html">
      <div id="u899" class="ax_default box_1">
        <img id="u899_img" class="img " src="static/images/emp_manage/u203.svg" />
        <div id="u899_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </a>

    <!-- Unnamed (矩形) -->
    <a href="manager_home.html">
      <div id="u900" class="ax_default _一级标题">
        <div id="u900_div" class=""></div>
        <div id="u900_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>
    </a>

    <!-- Unnamed (矩形) -->
    <div id="u901" class="ax_default _一级标题">
      <div id="u901_div" class=""></div>
      <div id="u901_text" class="text ">
        <p><span style="text-decoration:none;">&nbsp;&nbsp; 选择查询月份</span></p>
      </div>
    </div>

    <form action="attendance_summary.html" method="get">
      <!-- Unnamed (文本框) -->
      <div id="u902" class="ax_default text_field">
        <div id="u902_div" class=""></div>
        <input id="u902_input" type="text" name="ym" value="" class="u902_input" placeholder="YYYY-MM" />
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u903" class="ax_default text_field">
        <div id="u903_div" class=""></div>
        <input id="u903_input" type="text" name="id" value="" class="u903_input" />
      </div>

      <!-- Unnamed (下拉列表) -->
      <div id="u904" class="ax_default droplist">
        <div id="u904_div" class=""></div>
        <select id="u904_input" name="pos" class="u904_input">
          <option class="u904_input_option" value=""></option>
          <option class="u904_input_option" value="2">员工</option>
          <option class="u904_input_option" value="1">部门主管</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表) -->
      <div id="u905" class="ax_default droplist">
        <div id="u905_div" class=""></div>
        <select id="u905_input" name="depart" class="u905_input">
          <option class="u905_input_option" value=""></option>
          {% for departname in departnames %}
          <option class="u905_input_option" value="{{ departname }}">{{ departname }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u884" class="ax_default button">
        <div id="u884_div" class=""></div>
        <div id="u884_text" class="text ">
          <p><span style="text-decoration:none;">
              <input type="submit" value="查询">
            </span></p>
        </div>
      </div>

      <input name="page" value="1" hidden='true'>
    </form>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>

</html>