<!DOCTYPE html>
<html>

<head>
  <title>cancel_leave</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/cancel_leave/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/cancel_leave/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    button {
      display: inline;
      background-color: #3BB19C;
      border: 0px solid #CCC;
      color: white;
    }

    input {
      display: inline;
      background-color: #1ABC9C;
      border: 0px solid #CCC;
    }

    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (矩形) -->
    <div id="u113" class="ax_default box_1">
      <img id="u113_img" class="img " src="static/images/cancel_leave/u113.svg" />
      <div id="u113_text" class="text ">
        <p><span style="text-decoration:none;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 填写销假申请：</span></p>
      </div>
    </div>

    <!-- Unnamed (文本域) -->
    <div id="u114" class="ax_default text_area">
      <img id="u114_img" class="img " src="static/images/cancel_leave/u114.svg" />
      <textarea id="u114_input" class="u114_input"
        readonly>&nbsp;&nbsp;&nbsp; 
&nbsp; &nbsp; &nbsp;&nbsp; 本人于&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 结束假期，回到岗位继续工作。</textarea>
    </div>

    <form action="" method="POST">
      <!-- Unnamed (文本框) -->
      <div id="u115" class="ax_default text_field">
        <div id="u115_div" class=""></div>
        <input id="u115_input" name="cancel_date" placeholder="YYYY-MM-DD hh:mm" type="text" value=""
          class="u115_input" />
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u116" class="ax_default primary_button">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text ">
          <!--<p><span style="text-decoration:none;">提交</span></p>-->
          <button>提交</button>
        </div>
      </div>
    </form>

    <!-- Unnamed (矩形) -->
    <div id="u117" class="ax_default button">
      <div id="u117_div" class=""></div>
      <div id="u117_text" class="text ">
        <!--<p><span style="text-decoration:none;">取消</span></p>-->
        <a href="cancel_leave_manage.html">取消</a>
      </div>
    </div>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>
{% if signs %}
<script>
  alert('{{ msgs }}');
</script>
{% endif %}

</html>