<!DOCTYPE html>
<html>

<head>
  <title>import_perform_2</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/import_perform_2/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/import_perform_2/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    input {
      display: inline;
      background-color: #1ABC9C;
      border: 0px solid #CCC;
    }

    a {
      text-decoration: none;
      white-space: nowrap;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- 执行导入1 (组合) -->
    <div id="u268" class="ax_default" data-label="执行导入1" data-left="0" data-top="0" data-width="1361" data-height="721">

      <!-- 执行导入 (组合) -->
      <div id="u269" class="ax_default" data-label="执行导入" data-left="0" data-top="0" data-width="1361"
        data-height="721">

        <!-- Unnamed (矩形) -->
        <div id="u270" class="ax_default box_1">
          <div id="u270_div" class=""></div>
          <div id="u270_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u271" class="ax_default" data-left="316" data-top="78" data-width="543" data-height="73">

          <!-- Unnamed (矩形) -->
          <div id="u272" class="ax_default label">
            <div id="u272_div" class=""></div>
            <div id="u272_text" class="text ">
              <p><span style="text-decoration:none;">上传文件</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u273" class="ax_default label">
            <div id="u273_div" class=""></div>
            <div id="u273_text" class="text ">
              <p><span style="text-decoration:none;">执行导入</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u274" class="ax_default label">
            <div id="u274_div" class=""></div>
            <div id="u274_text" class="text ">
              <p><span style="text-decoration:none;">导入完成</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u275" class="ax_default ellipse">
            <img id="u275_img" class="img " src="static/images/import_perform_1/u242.svg" />
            <div id="u275_text" class="text ">
              <p><span style="text-decoration:none;">1</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u276" class="ax_default ellipse">
            <img id="u276_img" class="img " src="static/images/import_perform_1/u242.svg" />
            <div id="u276_text" class="text ">
              <p><span style="text-decoration:none;">2</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u277" class="ax_default ellipse">
            <img id="u277_img" class="img " src="static/images/import_perform_1/u244.svg" />
            <div id="u277_text" class="text ">
              <p><span style="text-decoration:none;">3</span></p>
            </div>
          </div>

          <!-- Unnamed (线段) -->
          <div id="u278" class="ax_default line">
            <img id="u278_img" class="img " src="static/images/import_perform_1/u245.svg" />
            <div id="u278_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (线段) -->
          <div id="u279" class="ax_default line">
            <img id="u279_img" class="img " src="static/images/import_perform_1/u245.svg" />
            <div id="u279_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u280" class="ax_default" data-left="274" data-top="213" data-width="629" data-height="97">

          <!-- Unnamed (矩形) -->
          <div id="u281" class="ax_default box_3">
            <div id="u281_div" class=""></div>
            <div id="u281_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u282" class="ax_default box_3">
            <div id="u282_div" class=""></div>
            <div id="u282_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u283" class="ax_default label">
            <div id="u283_div" class=""></div>
            <div id="u283_text" class="text ">
              <p><span style="text-decoration:none;">本次可导入员工数量</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u284" class="ax_default label">
            <div id="u284_div" class=""></div>
            <div id="u284_text" class="text ">
              <p><span style="text-decoration:none;">{{ num_importable }}人</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u285" class="ax_default box_3">
          <div id="u285_div" class=""></div>
          <div id="u285_text" class="text ">
            <a href='import_all'>下一步</a>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u286" class="ax_default" data-left="250" data-top="213" data-width="653" data-height="214">

          <!-- 不可导入员工 (组合) -->
          <div id="u287" class="ax_default" data-label="不可导入员工" data-left="274" data-top="330" data-width="629"
            data-height="97">

            <!-- 不可导入 (组合) -->
            <div id="u288" class="ax_default" data-label="不可导入" data-left="274" data-top="330" data-width="629"
              data-height="97">

              <!-- Unnamed (矩形) -->
              <div id="u289" class="ax_default box_3">
                <div id="u289_div" class=""></div>
                <div id="u289_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u290" class="ax_default box_3">
                <div id="u290_div" class=""></div>
                <div id="u290_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u291" class="ax_default label">
                <div id="u291_div" class=""></div>
                <div id="u291_text" class="text ">
                  <p><span style="text-decoration:none;">本次不可导入员工数量</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u292" class="ax_default label">
                <div id="u292_div" class=""></div>
                <div id="u292_text" class="text ">
                  <a href='import_not_list.html?unimportable_list={{ unimportable_list }}'>{{ num_unimportable }}人</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u293" class="ax_default icon">
            <img id="u293_img" class="img " src="static/images/import_perform_2/u293.svg" />
            <div id="u293_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u294" class="ax_default icon">
          <img id="u294_img" class="img " src="static/images/import_perform_2/u293.svg" />
          <div id="u294_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>

</html>