<!DOCTYPE html>
<html>

<head>
  <title>import_perform_1</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/import_perform_1/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/import_perform_1/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    input {
      display: inline;
      background-color: #1ABC9C;
      border: 0px solid #CCC;
      color: white;
    }
    button {
      background-color: #1ABC9C;
      border: 0px solid #CCC;
      color: white;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- 上传文件 (组合) -->
    <div id="u235" class="ax_default" data-label="上传文件" data-left="0" data-top="0" data-width="1361" data-height="721">

      <!-- Unnamed (组合) -->
      <div id="u236" class="ax_default" data-left="0" data-top="0" data-width="1361" data-height="721">

        <!-- Unnamed (矩形) -->
        <div id="u237" class="ax_default box_1">
          <div id="u237_div" class=""></div>
          <div id="u237_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u238" class="ax_default" data-left="316" data-top="78" data-width="543" data-height="73">

          <!-- Unnamed (矩形) -->
          <div id="u239" class="ax_default label">
            <div id="u239_div" class=""></div>
            <div id="u239_text" class="text ">
              <p><span style="text-decoration:none;">上传文件</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u240" class="ax_default label">
            <div id="u240_div" class=""></div>
            <div id="u240_text" class="text ">
              <p><span style="text-decoration:none;">执行导入</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u241" class="ax_default label">
            <div id="u241_div" class=""></div>
            <div id="u241_text" class="text ">
              <p><span style="text-decoration:none;">导入完成</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u242" class="ax_default ellipse">
            <img id="u242_img" class="img " src="static/images/import_perform_1/u242.svg" />
            <div id="u242_text" class="text ">
              <p><span style="text-decoration:none;">1</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u243" class="ax_default ellipse">
            <img id="u243_img" class="img " src="static/images/import_perform_1/u243.svg" />
            <div id="u243_text" class="text ">
              <p><span style="text-decoration:none;">2</span></p>
            </div>
          </div>

          <!-- Unnamed (圆形) -->
          <div id="u244" class="ax_default ellipse">
            <img id="u244_img" class="img " src="static/images/import_perform_1/u244.svg" />
            <div id="u244_text" class="text ">
              <p><span style="text-decoration:none;">3</span></p>
            </div>
          </div>

          <!-- Unnamed (线段) -->
          <div id="u245" class="ax_default line">
            <img id="u245_img" class="img " src="static/images/import_perform_1/u245.svg" />
            <div id="u245_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (线段) -->
          <div id="u246" class="ax_default line">
            <img id="u246_img" class="img " src="static/images/import_perform_1/u245.svg" />
            <div id="u246_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u247" class="ax_default" data-left="274" data-top="168" data-width="629" data-height="97">

          <!-- Unnamed (矩形) -->
          <div id="u248" class="ax_default box_3">
            <div id="u248_div" class=""></div>
            <div id="u248_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u249" class="ax_default box_3">
            <div id="u249_div" class=""></div>
            <div id="u249_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u250" class="ax_default label">
            <div id="u250_div" class=""></div>
            <div id="u250_text" class="text ">
              <p><span style="text-decoration:none;">填写导入员工的信息</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u251" class="ax_default label">
            <div id="u251_div" class=""></div>
            <div id="u251_text" class="text ">
              <p><span style="text-decoration:none;">请按照数据模板的格式导入数据，模板中的表头名称不可更改，表头行不能删除</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u252" class="ax_default box_3">
            <div id="u252_div" class=""></div>
            <div id="u252_text" class="text ">
              <!--<p><span style="text-decoration:none;">下载模板</span></p>-->
              <button type="button" onclick="location.href='csv_download'">下载</button>
            </div>
          </div>

          <!-- Unnamed (占位符) -->
          <div id="u253" class="ax_default placeholder">
            <img id="u253_img" class="img " src="static/images/import_perform_1/u253.svg" />
            <div id="u253_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u254" class="ax_default" data-left="274" data-top="275" data-width="629" data-height="97">

          <!-- Unnamed (矩形) -->
          <div id="u255" class="ax_default box_3">
            <div id="u255_div" class=""></div>
            <div id="u255_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u256" class="ax_default box_3">
            <div id="u256_div" class=""></div>
            <div id="u256_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u257" class="ax_default label">
            <div id="u257_div" class=""></div>
            <div id="u257_text" class="text ">
              <p><span style="text-decoration:none;">上传填好的员工信息表</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u258" class="ax_default label">
            <div id="u258_div" class=""></div>
            <div id="u258_text" class="text ">
              <p><span style="text-decoration:none;">文件后缀名必须为csv，文件大小不得大于10M</span></p>
            </div>
          </div>


          <!-- Unnamed (占位符) -->
          <div id="u260" class="ax_default placeholder">
            <img id="u260_img" class="img " src="static/images/import_perform_1/u260.svg" />
            <div id="u260_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

        </div>

        <!-- Unnamed (组合) -->
        <div id="u262" class="ax_default" data-left="274" data-top="382" data-width="629" data-height="97">

          <!-- Unnamed (矩形) -->
          <div id="u263" class="ax_default box_3">
            <div id="u263_div" class=""></div>
            <div id="u263_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u264" class="ax_default box_3">
            <div id="u264_div" class=""></div>
            <div id="u264_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u265" class="ax_default label">
            <div id="u265_div" class=""></div>
            <div id="u265_text" class="text ">
              <p><span style="text-decoration:none;">员工初始密码默认为111111</span></p>
            </div>
          </div>

          <!-- Unnamed (占位符) -->
          <div id="u266" class="ax_default placeholder">
            <img id="u266_img" class="img " src="static/images/import_perform_1/u266.svg" />
            <div id="u266_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>


        <!-- Unnamed (矩形) -->
        <form enctype="multipart/form-data" action='upload_emp_info' method="POST">
          {% csrf_token %}

          <div id="u261" class="ax_default box_3">
            <input type="file" name='file'>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u267" class="ax_default box_3">
            <div id="u267_div" class=""></div>
            <div id="u267_text" class="text ">
              <input type="submit" value='下一步'>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>


{% if error %}
<script>
  alert('{{ error }}');
</script>
{% endif %}

</html>