<!DOCTYPE html>
<html>

<head>
  <title>ring out</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/ring_out/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/ring_out/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    button {
      display: inline;
      background-color: #1ABC9C;
      border: 0px;
      color: white;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="u64" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

      <!-- Unnamed (组合) -->
      <div id="u65" class="ax_default" data-left="0" data-top="61" data-width="1361" data-height="660">

        <!-- Unnamed (矩形) -->
        <div id="u66" class="ax_default box_1">
          <div id="u66_div" class="">
            <video id="video" autoplay="" style='width:640px;height:480px'></video>
            <canvas id="canvas" width="640" height="480"></canvas></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u67" class="ax_default box_1">
    <div id="u67_div" class=""></div>
    <div id="u67_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (圆形) -->
  <div id="u68" class="ax_default ellipse">
    <img id="u68_img" class="img " src="static/images/ring_out/u68.svg" />
    <div id="u68_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u69" class="ax_default _一级标题">
    <div id="u69_div" class=""></div>
    <div id="u69_text" class="text ">
      <button type='button' value='picture2' name='picture2' id='picture2' style="font-size: 14px;">位置信息</button>
      <button type='button' value='picture' name='picture' id='picture' style="font-size: 14px;">人脸验证</button>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u70" class="ax_default _一级标题">
    <div id="u70_div" class=""></div>
    <div id="u70_text" class="text ">
      <p><span style="text-decoration:none;"></span></p>
    </div>
  </div>

  <!-- Unnamed (圆形) -->
  <div id="u71" class="ax_default ellipse">
    <img id="u71_img" class="img " src="static/images/ring_out/u71.svg" />
    <div id="u71_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u72" class="ax_default _一级标题">
    <div id="u72_div" class=""></div>
    <div id="u72_text" class="text ">
      <p><span style="text-decoration:none;">{{username}}</span></p>
    </div>
  </div>

  <!-- Unnamed (形状) -->
  <div id="u73" class="ax_default box_1">
    <img id="u73_img" class="img " src="static/images/ring_out/u73.svg" />
    <div id="u73_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u74" class="ax_default _一级标题">
    <div id="u74_div" class=""></div>
    <div id="u74_text" class="text ">
      <p><span style="text-decoration:none;">返回</span></p>
    </div>
  </div>

  <!-- Unnamed (形状) -->
  <div id="u75" class="ax_default primary_button">
    <img id="u75_img" class="img " src="static/images/ring_out/u75.svg" />
    <div id="sfhy" class="text " name='sfhy'>
      <p><span style="text-decoration:none;">身份核验</span></p>
    </div>
  </div>

  </div>
</body>

<script src="static/resources/scripts/axure/ios.js"></script>

<script type="text/javascript">
  var video = document.getElementById("video");
  var context = canvas.getContext("2d")
  var errocb = function () {
    console.log('sth wrong!');
  }
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
  window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
  if (navigator.getUserMedia) { // 标准的API
    navigator.getUserMedia({ "video": true }, function (stream) {
      video.srcObject = stream;
      video.play();
    }, errocb);
  } else if (navigator.webkitGetUserMedia) { // WebKit 核心的API
    navigator.webkitGetUserMedia({ "video": true }, function (stream) {
      video.src = window.webkitURL.createObjectURL(stream);
      video.play();
    }, errocb);
  }
</script>
<script>
  $(document).ready(function () {
    $("#picture2").click(function () {
      var a = 0;
      var b = 0;

      function getLocation(){ 
        if (navigator.geolocation){ 
          return navigator.geolocation.getCurrentPosition(showPosition,showError); 
        }else{ 
          alert("浏览器不支持地理定位。"); 
        } 
      }
      
      function showPosition(position){ 
        var latlon = position.coords.latitude+','+position.coords.longitude;
        var a = position.coords.latitude;
        var b = position.coords.longitude;
        $.ajax({ 
            type: "POST", 
            dataType: "jsonp",
            data: {
              'lat': a,
              'lag': b,
            },
            url: '/getLocation', 
              beforeSend: function(xhr, setting){ 
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                $("#shfy").text('正在定位...'); 
              }, 
              success: function (json) { 
                $("#shfy").text(json.json);
              }, 
          })
      }
      
      function showError(error){ 
        switch(error.code) { 
          case error.PERMISSION_DENIED: 
            alert("定位失败,用户拒绝请求地理定位"); 
            break; 
          case error.POSITION_UNAVAILABLE: 
            alert("定位失败,位置信息是不可用"); 
            break; 
          case error.TIMEOUT: 
            alert("定位失败,请求获取用户位置超时"); 
            break; 
          case error.UNKNOWN_ERROR: 
            alert("定位失败,定位系统失效"); 
            break; 
        } 
      }
      getLocation();
    })
  });

</script>
<script>
  $(document).ready(function () {
    $("#picture").click(function () {
      var IdentifyNo = false;
      var AuthNameNo = '';
      var video = document.getElementById('video');
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      var LeftImage = canvas.toDataURL("image/png");
      var ID = 0;

      $.ajax({
        type: "POST",
        url: "/loginFaceCheck",
        beforeSend: function (xhr, setting) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        dataType: "json",
        data: {
          "id": ID,
          "faceImg": LeftImage,
        },

        success: function (displayList) {
          if (displayList.canLogin === true) {
            $('#sfhy').text("验证成功: " + displayList.AuthName);
            IdentifyNo = true;
            AuthNameNo = displayList.AuthName;
            if (displayList.is_clocked == 0)
              window.location.href = 'ring_finish.html';
            else
              window.location.href = 'ring_repeat.html';
          }
          else {
            $('#sfhy').text("验证失败: " + displayList.AuthName);
            IdentifyNo = false;
            AuthNameNo = '';
          }
        },

        error: function () {
          $('#sfhy').text("验证失败");
        },
      })
    })
  });
</script>

<script>
  function time() {
    var date = new Date();
    var hour = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (hour < 10)
      hour = '0' + hour;
    if (minutes < 10)
      minutes = '0' + minutes;
    if (seconds < 10)
      seconds = '0' + seconds;
    var str = hour + ":" + minutes + ":" + seconds;
    var div1 = document.getElementById("u70_text");
    div1.innerHTML = str;
  }
  setInterval(time, 1000);
</script>


</html>