<!DOCTYPE html>
<html>

<head>
  <title>schedule_manage</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/schedule_manage/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/schedule_manage/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
  <style type="text/css">
    input {
      display: inline;
      border: 0px;
      background-color: #3BB19C;
      color: white;
    }

    a {
      text-decoration: none;
    }

    button {
      white-space: nowrap;
      display: inline;
      background-color: white;
      border: 0px;
    }
  </style>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (矩形) -->
    <div id="u0" class="ax_default box_1">
      <div id="u0_div" class=""></div>
      <div id="u0_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u1" class="ax_default box_1">
      <div id="u1_div" class=""></div>
      <div id="u1_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (圆形) -->
    <div id="u2" class="ax_default ellipse">
      <img id="u2_img" class="img " src="static/images/schedule_manage/u2.svg" />
      <div id="u2_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3" class="ax_default _一级标题">
      <div id="u3_div" class=""></div>
      <div id="u3_text" class="text ">
        <p><span style="text-decoration:none;">{{username}}</span></p>
      </div>
    </div>

    <!-- Unnamed (表格) -->
    <div id="u4" class="ax_default">

      <!-- Unnamed (单元格) -->
      <div id="u5" class="ax_default table_cell">
        <img id="u5_img" class="img " src="static/images/schedule_manage/u5.png" />
        <div id="u5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u6" class="ax_default table_cell">
        <img id="u6_img" class="img " src="static/images/schedule_manage/u6.png" />
        <div id="u6_text" class="text ">
          <p><span style="text-decoration:none;">工号</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u7" class="ax_default table_cell">
        <img id="u7_img" class="img " src="static/images/schedule_manage/u7.png" />
        <div id="u7_text" class="text ">
          <p><span style="text-decoration:none;">姓名</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u8" class="ax_default table_cell">
        <img id="u8_img" class="img " src="static/images/schedule_manage/u8.png" />
        <div id="u8_text" class="text ">
          <p><span style="text-decoration:none;">所属部门</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u9" class="ax_default table_cell">
        <img id="u9_img" class="img " src="static/images/schedule_manage/u7.png" />
        <div id="u9_text" class="text ">
          <p><span style="text-decoration:none;">工作时间模式</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u10" class="ax_default table_cell">
        <img id="u10_img" class="img " src="static/images/schedule_manage/u10.png" />
        <div id="u10_text" class="text ">
          <p><span style="text-decoration:none;">工作时间</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u11" class="ax_default table_cell">
        <img id="u11_img" class="img " src="static/images/schedule_manage/u11.png" />
        <div id="u11_text" class="text ">
          <p><span style="text-decoration:none;">操作</span></p>
        </div>
      </div>

      {% load helper %}
      {% for msg in msgs %}
      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:12 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:12 }}_img" class="img " src="static/images/schedule_manage/u12.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:12 }}_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:13 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:13 }}_img" class="img " src="static/images/schedule_manage/u13.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:13 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.0 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:14 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:14 }}_img" class="img " src="static/images/schedule_manage/u14.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:14 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.1 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:15 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:15 }}_img" class="img " src="static/images/schedule_manage/u15.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:15 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.2 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:16 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:16 }}_img" class="img " src="static/images/schedule_manage/u14.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:16 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.3 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:17 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:17 }}_img" class="img " src="static/images/schedule_manage/u17.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:17 }}_text" class="text ">
          <p><span style="text-decoration:none;">{{ msg.4 }}</span></p>
        </div>
      </div>

      <!-- Unnamed (单元格) -->
      <div id="u{{ forloop.counter0 |mul:7 |add:18 }}" class="ax_default table_cell">
        <img id="u{{ forloop.counter0 |mul:7 |add:18 }}_img" class="img " src="static/images/schedule_manage/u18.png" />
        <div id="u{{ forloop.counter0 |mul:7 |add:18 }}_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Unnamed (组合) -->
    <div id="u82" class="ax_default" data-left="370" data-top="654" data-width="548" data-height="28">

      <!-- Unnamed (矩形) -->
      {% if current_page > 1 %}
      <div id="u89" class="ax_default label">
        <div id="u89_div" class=""></div>
        <div id="u89_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="schedule_manage.html?page={{ current_page |add:-1 }}&id={{id}}&sche={{sche}}">{{ current_page |add:-1 }}</a>
            </span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u90" class="ax_default label">
        <div id="u90_div" class=""></div>
        <div id="u90_text" class="text ">
          <p><span style="text-decoration:none;">{{ current_page }}</span></p>
        </div>
      </div>

      {% if current_page < max_page %}
      <!-- Unnamed (矩形) -->
      <div id="u91" class="ax_default label">
        <div id="u91_div" class=""></div>
        <div id="u91_text" class="text ">
          <p><span style="text-decoration:none;">
              <a
                href="schedule_manage.html?page={{ current_page |add:1 }}&id={{id}}&sche={{sche}}">{{ current_page |add:1 }}</a>
            </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u92" class="ax_default icon">
        <img id="u92_img" class="img " src="static/images/schedule_manage/u92.svg" />
        <div id="u92_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u93" class="ax_default label">
        <div id="u93_div" class=""></div>
        <div id="u93_text" class="text ">
          <p><span style="text-decoration:none;">...</span></p>
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (矩形) -->
      <div id="u94" class="ax_default label">
        <div id="u94_div" class=""></div>
        <div id="u94_text" class="text ">
          <p><span style="text-decoration:none;">共</span><span
              style="text-decoration:none;color:#AEAEAE;">{{ max_page }}</span><span
              style="text-decoration:none;">页&nbsp;&nbsp; 当前</span><span
              style="text-decoration:none;color:#1ABC9C;">{{current_page}}</span><span
              style="text-decoration:none;">页</span></p>
        </div>
      </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u95" class="ax_default" data-left="88" data-top="81" data-width="128" data-height="25">

      <!-- Unnamed (组合) -->
      <div id="u96" class="ax_default" data-left="88" data-top="81" data-width="128" data-height="25">

        <!-- Unnamed (组合) -->
        <div id="u97" class="ax_default" data-left="88" data-top="81" data-width="128" data-height="25">

          <!-- Unnamed (组合) -->
          <div id="u98" class="ax_default" data-left="88" data-top="81" data-width="128" data-height="25">
          </div>
        </div>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u100" class="ax_default _一级标题">
      <div id="u100_div" class=""></div>
      <div id="u100_text" class="text ">
        <p><span style="text-decoration:none;">查询工号</span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u101" class="ax_default _一级标题">
      <div id="u101_div" class=""></div>
      <div id="u101_text" class="text ">
        <p><span style="text-decoration:none;">工作模式</span></p>
      </div>
    </div>

    <!-- 临时调整 (组合) -->
    <div id="u102" class="ax_default ax_default_hidden" data-label="临时调整" style="display:none; visibility: hidden"
      data-left="555" data-top="278" data-width="406" data-height="229">

      <!-- Unnamed (矩形) -->
      <div id="u103" class="ax_default box_1">
        <div id="u103_div" class=""></div>
        <div id="u103_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u104" class="ax_default box_1">
        <img id="u104_img" class="img " src="static/images/schedule_manage/u104.svg" />
        <div id="u104_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u105" class="ax_default label">
        <div id="u105_div" class=""></div>
        <div id="u105_text" class="text ">
          <p><span style="text-decoration:none;">临时调整</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u106" class="ax_default primary_button">
        <div id="u106_div" class=""></div>
        <div id="u106_text" class="text ">
          <p><span style="text-decoration:none;">保存</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u107" class="ax_default ellipse">
        <img id="u107_img" class="img " src="static/images/schedule_manage/u107.svg" />
        <div id="u107_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u108" class="ax_default box_1">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span style="text-decoration:none;">09</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u109" class="ax_default box_1">
        <img id="u109_img" class="img " src="static/images/schedule_manage/u109.svg" />
        <div id="u109_text" class="text ">
          <p><span style="text-decoration:none;">工作时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u110" class="ax_default box_1">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
          <p><span style="text-decoration:none;">17</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u111" class="ax_default ellipse">
        <img id="u111_img" class="img " src="static/images/schedule_manage/u111.svg" />
        <div id="u111_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u112" class="ax_default ellipse">
        <img id="u112_img" class="img " src="static/images/schedule_manage/u111.svg" />
        <div id="u112_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>

    <a href="supervisor_home.html">
      <!-- Unnamed (形状) -->
      <div id="u113" class="ax_default box_1">
        <img id="u113_img" class="img " src="static/images/schedule_manage/u113.svg" />
        <div id="u113_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </a>

    <a href="supervisor_home.html">
      <!-- Unnamed (矩形) -->
      <div id="u114" class="ax_default _一级标题">
        <div id="u114_div" class=""></div>
        <div id="u114_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>
    </a>

    <form action="schedule_manage.html" method="get">
      <!-- Unnamed (文本框) -->
      <div id="u99" class="ax_default text_field">
        <div id="u99_div" class=""></div>
        <input id="u99_input" name="id" type="text" value="" class="u99_input" />
      </div>

      <!-- Unnamed (下拉列表) -->
      <div id="u115" class="ax_default droplist">
        <div id="u115_div" class=""></div>
        <select id="u115_input" name="sche" class="u115_input">
          <option class="u115_input_option" value=""></option>
          {% for schename in schenames %}
          <option class="u115_input_option" value="{{ schename }}">{{ schename }}</option>
          {% endfor %}
          <option class="u115_input_option" value="未安排排班">未安排排班</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u116" class="ax_default primary_button">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text ">
          <p><span style="text-decoration:none;">
              <input type="submit" value="查询">
            </span></p>
        </div>
      </div>
      <input name="page" value="1" hidden='true'>
    </form>

    <!-- Unnamed (矩形) -->
    <div id="u117" class="ax_default button">
      <div id="u117_div" class=""></div>
      <div id="u117_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="schedule_manage.html">重置</a>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u118" class="ax_default button">
      <div id="u118_div" class=""></div>
      <div id="u118_text" class="text ">
        <p><span style="text-decoration:none;">
            <button onclick="location.href='export_departmentAllEmp_sche'">导出</button>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u119" class="ax_default button">
      <div id="u119_div" class=""></div>
      <div id="u119_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="import_perform_schedule.html">导入</a>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u120" class="ax_default button">
      <div id="u120_div" class=""></div>
      <div id="u120_text" class="text ">
        <p><span style="text-decoration:none;">
            <button onclick="edit_allSelected()">编辑</button>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u121" class="ax_default box_1">
      <input id="u121_div" type="checkbox" class="">
      <div id="u121_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    {% for i in p %}
    <!-- Unnamed (矩形) -->
    <div id="u{{ forloop.counter0 |add:122 }}" class="ax_default box_1">
      <input id="u{{ forloop.counter0 |add:122 }}_div" name="check_all_sche" type="checkbox" class="">
      <div id="u{{ forloop.counter0 |add:122 }}_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>
    {% endfor %}

    {% for msg in msgs %}
    <!-- Unnamed (矩形) -->
    <div id="u{{forloop.counter0 |mul:3 |add:132}}" class="ax_default box_1">
      <img id="u{{forloop.counter0 |mul:3 |add:132}}_img" class="img " src="static/images/schedule_manage/u132.svg" />
      <div id="u{{forloop.counter0 |mul:3 |add:132}}_text" class="text ">
        <p><span style="text-decoration:none;">
            <button onclick="set_cookie('sche_id', '{{msg.5}}')">复制</button>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u{{forloop.counter0 |mul:3 |add:133}}" class="ax_default box_1">
      <img id="u{{forloop.counter0 |mul:3 |add:133}}_img" class="img " src="static/images/schedule_manage/u132.svg" />
      <div id="u{{forloop.counter0 |mul:3 |add:133}}_text" class="text ">
        <p><span style="text-decoration:none;">
            <button onclick="confirm_copy('{{ msg.0 }}')">粘贴</button>
          </span></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u{{forloop.counter0 |mul:3 |add:134}}" class="ax_default box_1">
      <img id="u{{forloop.counter0 |mul:3 |add:134}}_img" class="img " src="static/images/schedule_manage/u132.svg" />
      <div id="u{{forloop.counter0 |mul:3 |add:134}}_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="schedule_edit_1.html?eid={{msg.0}}">编辑</a>
          </span></p>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>

<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script type="text/javascript">
  function set_cookie(name, value) {
    $.cookie(name, value, { path: '/schedule_manage.html' });
  }
</script>

<script type="text/javascript">
  function confirm_copy(eid) {
    var se = confirm("是否确认粘贴？");
    if (se == true) {
      var sche_id = $.cookie("sche_id");
      console.log(sche_id);
      if (sche_id == undefined) {
        alert("未复制无法粘贴");
      }
      else if (sche_id == 'None') {
        alert("不能粘贴未排班人员排班");
      }
      else {
        var temp = document.createElement('form');
        temp.action = "/schedule_manage_paste";
        temp.method = 'get';
        temp.style.display = 'none';
        var opt = document.createElement('textarea');
        opt.name = 'eid';
        opt.value = eid;
        var sid = document.createElement('textarea');
        sid.name = 'sid';
        sid.value = sche_id;
        temp.appendChild(opt);
        temp.appendChild(sid);
        document.body.appendChild(temp);
        temp.submit()
      }
    }
  }
</script>

<script>
  document.getElementById("u121_div").onclick = function () {
    var checked = document.getElementById("u121_div").checked;
    var checkson = document.getElementsByName("check_all_sche");
    if (checked) {
      for (var i = 0; i < checkson.length; i++) {
        checkson[i].checked = true;
      }
    } else {
      for (var i = 0; i < checkson.length; i++) {
        checkson[i].checked = false;
      }
    }
  }
</script>

<script type="text/javascript">
  function edit_allSelected() {
		var temp = document.createElement('form');
		temp.action = "/schedule_edit_batch.html";
		temp.method = 'post';
		temp.style.display = 'none';

		var checkson = document.getElementsByName("check_all_sche");
		var msgs = {{ msgs_forjs }};
		for (var i = 0; i < checkson.length; i++) {
			if (checkson[i].checked == true) {
				var opt = document.createElement('textarea');
				opt.name = 'emp_id' + i;
				opt.value = msgs[i];
				temp.appendChild(opt);
			}
		}
		var len = document.createElement('textarea');
		len.name = 'len';
		len.value = checkson.length;
		temp.appendChild(len);

		document.body.appendChild(temp);
		temp.submit()
	}
</script>

</html>