<!DOCTYPE html>
<html>
  <head>
    <title>schedule_edit_1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/schedule_edit_1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/files/schedule_edit_1/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <style>
      button{
        display: inline;
        background-color: #3BB19C;
        border: 0px;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- 编辑-排班管理 (组合) -->
      <div id="u469" class="ax_default" data-label="编辑-排班管理" data-left="600" data-top="177" data-width="450" data-height="450">

        <!-- Unnamed (矩形) -->
        <div id="u470" class="ax_default box_1">
          <div id="u470_div" class=""></div>
          <div id="u470_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u471" class="ax_default box_1">
          <img id="u471_img" class="img " src="static/images/schedule_edit_1/u471.svg"/>
          <div id="u471_text" class="text ">
            <p><span style="text-decoration:none;">工号</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u472" class="ax_default box_1">
          <img id="u472_img" class="img " src="static/images/schedule_edit_1/u472.svg"/>
          <div id="u472_text" class="text ">
            <p><span style="text-decoration:none;">姓名</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u473" class="ax_default box_1">
          <img id="u473_img" class="img " src="static/images/schedule_edit_1/u473.svg"/>
          <div id="u473_text" class="text ">
            <p><span style="text-decoration:none;">工作时间模式</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u474" class="ax_default label">
          <div id="u474_div" class=""></div>
          <div id="u474_text" class="text ">
            <p><span style="text-decoration:none;">编辑</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <!-- <div id="u475" class="ax_default primary_button">
          <div id="u475_div" class=""></div>
          <div id="u475_text" class="text ">
            <p><span style="text-decoration:none;">保存</span></p>
          </div>
        </div> -->

        <!-- Unnamed (矩形) -->
        <div id="u476" class="ax_default box_1">
          <img id="u476_img" class="img " src="static/images/schedule_edit_1/u473.svg"/>
          <div id="u476_text" class="text ">
            <p><span style="text-decoration:none;">工作时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u477" class="ax_default radio_button">
          <label id="u477_input_label" for="u477_input" style="position: absolute; left: 0px;">
            <!-- <img id="u477_img" class="img " src="static/images/schedule_edit_1/u477.svg"/> -->
            <div id="u477_text" class="text ">
              <button onclick="change_temp('schedule_edit_2.html', '{{ msg.0 }}')">临时调整</button>
            </div>
          </label>
          <!-- <input id="u477_input" type="radio" value="radio" name="u477"/> -->
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u478" class="ax_default radio_button">
          <label id="u478_input_label" for="u478_input" style="position: absolute; left: 0px;">
            <!-- <img id="u478_img" class="img " src="static/images/schedule_edit_1/u478.svg"/> -->
            <div id="u478_text" class="text ">
              <button onclick="change_forever('/sche_change_forver', '{{ msg.0 }}')">永久调整</button>
            </div>
          </label>
          <!-- <input id="u478_input" type="radio" value="radio" name="u478"/> -->
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u479" class="ax_default text_field">
          <div id="u479_div" class=""></div>
          <input id="u479_input" type="text" value="{{ msg.0 }}" class="u479_input" readonly/>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u480" class="ax_default text_field">
          <div id="u480_div" class=""></div>
          <input id="u480_input" type="text" value="{{ msg.1 }}" class="u480_input" readonly/>
        </div>

        <!-- Unnamed (下拉列表) -->
        <div id="u481" class="ax_default droplist">
          <div id="u481_div" class=""></div>
          <select id="u481_input" class="u481_input">
            {% for sche in sches %}
            <option class="u121_input_option" value="{{ sche.0 }}">{{ sche.1 }}</option>
            {% endfor %}
            <option class="u121_input_option" value="-1" selected='true'>其他</option>
          </select>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u482" class="ax_default text_field">
          <div id="u482_div" class=""></div>
          <input id="u482_input" type="text" value="9:00" class="u482_input"/>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u483" class="ax_default text_field">
          <div id="u483_div" class=""></div>
          <input id="u483_input" type="text" value="17:00" class="u483_input"/>
        </div>
      </div>
    </div>
    <script src="static/resources/scripts/axure/ios.js"></script>
  </body>
  <script type="text/javascript"> 
    document.getElementById("u481_input").onchange = function(){
      var sel1 = document.getElementById('u481_input');
      var index = sel1.selectedIndex;
      var value = sel1.options[index].value;
      if (value == -1){
        document.getElementById("u482").style.display='block';
        document.getElementById("u483").style.display='block';
        document.getElementById("u476").style.display='block';
      }
      else{
        document.getElementById("u482").style.display='none';
        document.getElementById("u483").style.display='none';
        document.getElementById("u476").style.display='none';
      }
    }
  </script>

  <script type="text/javascript">
    function change_forever(URL, eid){
      var temp = document.createElement('form');
      temp.action = URL;
      temp.method = 'post';
      temp.style.display = 'none';

      var opt = document.createElement('textarea');
      var s_kind = document.createElement('textarea');
      var work_begin = document.createElement('textarea');
      var work_end = document.createElement('textarea');
      opt.name = 'emp_id'
      opt.value = eid
      s_kind.name = 'sche_id'
      var sele = document.getElementById('u481_input');
      var index = sele.selectedIndex;
      s_kind.value = sele.options[index].value;
      work_begin.name = 'work_begin';
      work_begin.value = document.getElementById("u482_input").value;
      work_end.name = 'work_end';
      work_end.value = document.getElementById("u483_input").value;
      temp.appendChild(opt);
      temp.appendChild(s_kind);
      temp.appendChild(work_begin);
      temp.appendChild(work_end);

      document.body.appendChild(temp);
      temp.submit()
    }
  </script>

  <script type="text/javascript">
    function change_temp(URL, eid){
      var temp = document.createElement('form');
      temp.action = URL;
      temp.method = 'get';
      temp.style.display = 'none';

      var opt = document.createElement('textarea');
      var s_kind = document.createElement('textarea');
      var work_begin = document.createElement('textarea');
      var work_end = document.createElement('textarea');
      opt.name = 'emp_id'
      opt.value = eid
      s_kind.name = 'sche_id'
      var sele = document.getElementById('u481_input');
      var index = sele.selectedIndex;
      s_kind.value = sele.options[index].value;
      work_begin.name = 'work_begin';
      work_begin.value = document.getElementById("u482_input").value;
      work_end.name = 'work_end';
      work_end.value = document.getElementById("u483_input").value;
      temp.appendChild(opt);
      temp.appendChild(s_kind);
      temp.appendChild(work_begin);
      temp.appendChild(work_end);

      document.body.appendChild(temp);
      temp.submit()
    }
  </script>

</html>
