<!DOCTYPE html>
<html>
  <head>
    <title>schedule_summary_3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/schedule_summary_3/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/files/schedule_summary_3/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u271" class="ax_default box_1">
        <div id="u271_div" class=""></div>
        <div id="u271_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u272" class="ax_default box_1">
        <div id="u272_div" class=""></div>
        <div id="u272_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (圆形) -->
      <div id="u273" class="ax_default ellipse">
        <img id="u273_img" class="img " src="static/images/schedule_manage/u2.svg"/>
        <div id="u273_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u274" class="ax_default _一级标题">
        <div id="u274_div" class=""></div>
        <div id="u274_text" class="text ">
          <p><span style="text-decoration:none;">张三</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u275" class="ax_default box_1">
        <img id="u275_img" class="img " src="static/images/schedule_manage/u113.svg"/>
        <div id="u275_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u276" class="ax_default _一级标题">
        <div id="u276_div" class=""></div>
        <div id="u276_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u277" class="ax_default" data-left="117" data-top="89" data-width="85" data-height="25">

        <!-- Unnamed (组合) -->
        <div id="u278" class="ax_default" data-left="117" data-top="89" data-width="85" data-height="25">

          <!-- Unnamed (组合) -->
          <div id="u279" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">
          </div>

          <!-- Unnamed (文本框) -->
          <div id="u280" class="ax_default text_field">
            <div id="u280_div" class=""></div>
            <input id="u280_input" type="text" value="{{emp_id}}" class="u280_input" readonly/>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u281" class="ax_default box_2">
        <div id="u281_div" class=""></div>
        <div id="u281_text" class="text ">
          <p><span style="text-decoration:none;">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 当前员工：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u282" class="ax_default box_2">
        <div id="u282_div" class=""></div>
        <div id="u282_text" class="text ">
          <p><span style="text-decoration:none;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日期：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u283" class="ax_default" data-left="327" data-top="89" data-width="85" data-height="25">

        <!-- Unnamed (组合) -->
        <div id="u284" class="ax_default" data-left="327" data-top="89" data-width="85" data-height="25">

          <!-- Unnamed (组合) -->
          <div id="u285" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">
          </div>

          <!-- Unnamed (文本框) -->
          <div id="u286" class="ax_default text_field">
            <div id="u286_div" class=""></div>
            <input id="u286_input" type="text" value="{{year}}-{{month}}" class="u286_input" readonly/>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u287" class="ax_default" data-left="47" data-top="157" data-width="1280" data-height="472">

        <!-- Unnamed (表格) -->
        <div id="u288" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u289" class="ax_default table_cell">
            <img id="u289_img" class="img " src="static/images/schedule_summary_2/u180.png"/>
            <div id="u289_text" class="text ">
              <p><span style="text-decoration:none;">周一</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u290" class="ax_default table_cell">
            <img id="u290_img" class="img " src="static/images/schedule_summary_2/u180.png"/>
            <div id="u290_text" class="text ">
              <p><span style="text-decoration:none;">周二</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u291" class="ax_default table_cell">
            <img id="u291_img" class="img " src="static/images/schedule_summary_2/u180.png"/>
            <div id="u291_text" class="text ">
              <p><span style="text-decoration:none;">周三</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u292" class="ax_default table_cell">
            <img id="u292_img" class="img " src="static/images/schedule_summary_2/u180.png"/>
            <div id="u292_text" class="text ">
              <p><span style="text-decoration:none;">周四</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u293" class="ax_default table_cell">
            <img id="u293_img" class="img " src="static/images/schedule_summary_2/u180.png"/>
            <div id="u293_text" class="text ">
              <p><span style="text-decoration:none;">周五</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u294" class="ax_default table_cell">
            <img id="u294_img" class="img " src="static/images/schedule_summary_2/u185.png"/>
            <div id="u294_text" class="text ">
              <p><span style="text-decoration:none;">周六</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u295" class="ax_default table_cell">
            <img id="u295_img" class="img " src="static/images/schedule_summary_2/u186.png"/>
            <div id="u295_text" class="text ">
              <p><span style="text-decoration:none;">周日</span></p>
            </div>
          </div>

          {% load helper %}
          {% for week in cal2 %}
          {% for day in week %}
          <div   id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:296}}" class="ax_default table_cell">
            <img id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:296}}_img" class="img " src="static/images/schedule_summary_2/u626.png"/>
            <div id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:296}}_text" class="text ">
              {% if day != 0 %}
              <p><span style="text-decoration:none;">{{ day }}</span></p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>

        {% for week in ret %}
        {% for sta, end in week %}
          {% if sta == -1 %}
            <div     id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}" class="ax_default text_field">
              <img   id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}_img" class="img " src="static/images/my_schedule/u66.svg"/>
              <input id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}_input" type="text" value="未安排" class="u167_input" readonly/>
            </div>
          {% elif sta != 0 %}
            <div     id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}" class="ax_default text_field">
              <img   id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}_img" class="img " src="static/images/my_schedule/u66.svg"/>
              <input id="u{{forloop.parentloop.counter0|mul:7|add:forloop.counter0|add:331}}_input" type="text" value="{{ sta }}-{{ end }}" class="u167_input" readonly/>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </div>
    </div>
    <script src="static/resources/scripts/axure/ios.js"></script>
  </body>
  {% if error %}
  <script>
    alert('{{ error }}');
  </script>
  {% endif %}
  
</html>
