<!DOCTYPE html>
<html>

<head>
  <title>supervisor_approve</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
  <link href="static/files/supervisor_approve/styles.css" type="text/css" rel="stylesheet" />
  <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="static/resources/scripts/axure/axQuery.js"></script>
  <script src="static/resources/scripts/axure/globals.js"></script>
  <script src="static/resources/scripts/axutils.js"></script>
  <script src="static/resources/scripts/axure/annotation.js"></script>
  <script src="static/resources/scripts/axure/axQuery.std.js"></script>
  <script src="static/resources/scripts/axure/doc.js"></script>
  <script src="static/resources/scripts/messagecenter.js"></script>
  <script src="static/resources/scripts/axure/events.js"></script>
  <script src="static/resources/scripts/axure/recording.js"></script>
  <script src="static/resources/scripts/axure/action.js"></script>
  <script src="static/resources/scripts/axure/expr.js"></script>
  <script src="static/resources/scripts/axure/geometry.js"></script>
  <script src="static/resources/scripts/axure/flyout.js"></script>
  <script src="static/resources/scripts/axure/model.js"></script>
  <script src="static/resources/scripts/axure/repeater.js"></script>
  <script src="static/resources/scripts/axure/sto.js"></script>
  <script src="static/resources/scripts/axure/utils.temp.js"></script>
  <script src="static/resources/scripts/axure/variables.js"></script>
  <script src="static/resources/scripts/axure/drag.js"></script>
  <script src="static/resources/scripts/axure/move.js"></script>
  <script src="static/resources/scripts/axure/visibility.js"></script>
  <script src="static/resources/scripts/axure/style.js"></script>
  <script src="static/resources/scripts/axure/adaptive.js"></script>
  <script src="static/resources/scripts/axure/tree.js"></script>
  <script src="static/resources/scripts/axure/init.temp.js"></script>
  <script src="static/resources/scripts/axure/legacy.js"></script>
  <script src="static/resources/scripts/axure/viewer.js"></script>
  <script src="static/resources/scripts/axure/math.js"></script>
  <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="static/data/document.js"></script>
  <script src="static/files/supervisor_approve/data.js"></script>
  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="u0" class="ax_default" data-left="-8" data-top="0" data-width="1369" data-height="721">

      <!-- Unnamed (组合) -->
      <div id="u1" class="ax_default" data-left="-8" data-top="61" data-width="1369" data-height="660">

        <!-- Unnamed (组合) -->
        <div id="u2" class="ax_default" data-left="-8" data-top="61" data-width="1369" data-height="660">

          <!-- Unnamed (矩形) -->
          <div id="u3" class="ax_default box_1">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u4" class="ax_default box_1">
        <img id="u4_img" class="img " src="static/images/supervisor_approve/u4.svg" />
        <div id="u4_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u5" class="ax_default _一级标题">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u6" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u7" class="ax_default table_cell">
          <img id="u7_img" class="img " src="static/images/supervisor_approve/u7.png" />
          <div id="u7_text" class="text ">
            <p><span style="text-decoration:none;">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8" class="ax_default table_cell">
          <img id="u8_img" class="img " src="static/images/supervisor_approve/u8.png" />
          <div id="u8_text" class="text ">
            <p><span style="text-decoration:none;">申请人</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u9" class="ax_default table_cell">
          <img id="u9_img" class="img " src="static/images/supervisor_approve/u9.png" />
          <div id="u9_text" class="text ">
            <p><span style="text-decoration:none;">主题</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10" class="ax_default table_cell">
          <img id="u10_img" class="img " src="static/images/supervisor_approve/u10.png" />
          <div id="u10_text" class="text ">
            <p><span style="text-decoration:none;">时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u11" class="ax_default table_cell">
          <img id="u11_img" class="img " src="static/images/supervisor_approve/u11.png" />
          <div id="u11_text" class="text ">
            <p><span style="text-decoration:none;">操作</span></p>
          </div>
        </div>

        {% load helper %}
        {% for msg in msgs %}
        <!-- Unnamed (单元格) -->
        <div id="u{{ forloop.counter0 |mul:5 |add:12 }}" class="ax_default table_cell">
          <img id="u{{ forloop.counter0 |mul:5 |add:12 }}_img" class="img "
            src="static/images/supervisor_approve/u12.png" />
          <div id="u{{ forloop.counter0 |mul:5 |add:12 }}_text" class="text ">
            <p><span style="text-decoration:none;">{{ forloop.counter }}</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u{{ forloop.counter0 |mul:5 |add:13 }}" class="ax_default table_cell">
          <img id="u{{ forloop.counter0 |mul:5 |add:13 }}_img" class="img "
            src="static/images/supervisor_approve/u13.png" />
          <div id="u{{ forloop.counter0 |mul:5 |add:13 }}_text" class="text ">
            <p><span style="text-decoration:none;">{{ msg.0 }}</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u{{ forloop.counter0 |mul:5 |add:14 }}" class="ax_default table_cell">
          <img id="u{{ forloop.counter0 |mul:5 |add:14 }}_img" class="img "
            src="static/images/supervisor_approve/u14.png" />
          <div id="u{{ forloop.counter0 |mul:5 |add:14 }}_text" class="text ">
            <p><span style="text-decoration:none;">{{ msg.1 }}</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u{{ forloop.counter0 |mul:5 |add:15 }}" class="ax_default table_cell">
          <img id="u{{ forloop.counter0 |mul:5 |add:15 }}_img" class="img "
            src="static/images/supervisor_approve/u15.png" />
          <div id="u{{ forloop.counter0 |mul:5 |add:15 }}_text" class="text ">
            <p><span style="text-decoration:none;">{{ msg.2 }}</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u{{ forloop.counter0 |mul:5 |add:16 }}" class="ax_default table_cell">
          <img id="u{{ forloop.counter0 |mul:5 |add:16 }}_img" class="img "
            src="static/images/supervisor_approve/u16.png" />
          <div id="u{{ forloop.counter0 |mul:5 |add:16 }}_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u62" class="ax_default box_1">
        <div id="u62_div" class=""></div>
        <div id="u62_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u63" class="ax_default box_1">
        <img id="u63_img" class="img " src="static/images/supervisor_approve/u4.svg" />
        <div id="u63_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u64" class="ax_default _一级标题">
        <div id="u64_div" class=""></div>
        <div id="u64_text" class="text ">
          <p><span style="text-decoration:none;">返回</span></p>
        </div>
      </div>

      <!-- Unnamed (圆形) -->
      <div id="u65" class="ax_default ellipse">
        <img id="u65_img" class="img " src="static/images/supervisor_approve/u65.svg" />
        <div id="u65_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u66" class="ax_default _一级标题">
        <div id="u66_div" class=""></div>
        <div id="u66_text" class="text ">
          <p><span style="text-decoration:none;">{{username}}</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u67" class="ax_default" data-left="370" data-top="680" data-width="548" data-height="28">

        {% if current_page > 1 %}
        <!-- Unnamed (矩形) -->
        <div id="u74" class="ax_default label">
          <div id="u74_div" class=""></div>
          <div id="u74_text" class="text ">
            <p><span style="text-decoration:none;">
                <a href="supervisor_approve.html?page={{current_page |add:-1}}">{{ current_page |add:-1 }}</a>
              </span></p>
          </div>
        </div>
        {% endif %}

        <!-- Unnamed (矩形) -->
        <div id="u75" class="ax_default label">
          <div id="u75_div" class=""></div>
          <div id="u75_text" class="text ">
            <p><span style="text-decoration:none;">{{ current_page }}</span></p>
          </div>
        </div>

        {% if current_page < max_page %}
        <!-- Unnamed (矩形) -->
        <div id="u76" class="ax_default label">
          <div id="u76_div" class=""></div>
          <div id="u76_text" class="text ">
            <p><span style="text-decoration:none;">
                <a href="supervisor_approve.html?page={{current_page |add:1}}">{{ current_page |add:1 }}</a>
              </span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u77" class="ax_default icon">
          <img id="u77_img" class="img " src="static/images/supervisor_approve/u77.svg" />
          <div id="u77_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u78" class="ax_default label">
          <div id="u78_div" class=""></div>
          <div id="u78_text" class="text ">
            <p><span style="text-decoration:none;">...</span></p>
          </div>
        </div>
        {% endif %}

        <!-- Unnamed (矩形) -->
        <div id="u79" class="ax_default label">
          <div id="u79_div" class=""></div>
          <div id="u79_text" class="text ">
            <p><span style="text-decoration:none;">共</span><span
                style="text-decoration:none;color:#AEAEAE;">{{ max_page }}</span><span
                style="text-decoration:none;">页&nbsp;&nbsp; 当前</span><span
                style="text-decoration:none;color:#1ABC9C;">{{ current_page }}</span><span
                style="text-decoration:none;">页</span></p>
          </div>
        </div>
      </div>

      {% for msg in msgs %}
      <!-- Unnamed (矩形) -->
      <div id="u{{ forloop.counter0 |mul:2 |add:80 }}" class="ax_default button">
        <div id="u{{ forloop.counter0 |mul:2 |add:80 }}_div" class=""></div>
        <div id="u{{ forloop.counter0 |mul:2 |add:80 }}_text" class="text ">
          <p><span style="text-decoration:none;">
              <a href="approve_pass?id={{msg.4}}&kind={{msg.3}}">审批通过</a>
            </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u{{ forloop.counter0 |mul:2 |add:81 }}" class="ax_default button">
        <div id="u{{ forloop.counter0 |mul:2 |add:81 }}_div" class=""></div>
        <div id="u{{ forloop.counter0 |mul:2 |add:81 }}_text" class="text ">
          <p><span style="text-decoration:none;">
              <a href="application_reject.html?id={{msg.4}}&kind={{msg.3}}">审批拒绝</a>
            </span></p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- 审批拒绝 (组合) -->
    <div id="u100" class="ax_default ax_default_hidden" data-label="审批拒绝" style="display:none; visibility: hidden"
      data-left="556" data-top="237" data-width="741" data-height="308">

      <!-- Unnamed (矩形) -->
      <div id="u101" class="ax_default box_1">
        <div id="u101_div" class=""></div>
        <div id="u101_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u102" class="ax_default button">
        <div id="u102_div" class=""></div>
        <div id="u102_text" class="text ">
          <p><span style="text-decoration:none;">审批拒绝</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u103" class="ax_default primary_button">
        <div id="u103_div" class=""></div>
        <div id="u103_text" class="text ">
          <p><span style="text-decoration:none;">提交</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u104" class="ax_default primary_button">
        <div id="u104_div" class=""></div>
        <div id="u104_text" class="text ">
          <p><span style="text-decoration:none;">取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u105" class="ax_default box_1">
        <img id="u105_img" class="img " src="static/images/supervisor_approve/u105.svg" />
        <div id="u105_text" class="text ">
          <p><span style="text-decoration:none;">拒绝理由</span></p>
        </div>
      </div>

      <!-- Unnamed (文本域) -->
      <div id="u106" class="ax_default text_area">
        <div id="u106_div" class=""></div>
        <textarea id="u106_input" class="u106_input">&nbsp; &nbsp; &nbsp; 请输入</textarea>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u107" class="ax_default box_1">
        <img id="u107_img" class="img " src="static/images/supervisor_approve/u107.svg" />
        <div id="u107_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u108" class="ax_default label">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span style="text-decoration:none;">审批拒绝</span></p>
        </div>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u109" class="ax_default button">
      <div id="u109_div" class=""></div>
      <div id="u109_text" class="text ">
        <p><span style="text-decoration:none;">
            <a href="application_approved.html">查看已处理的申请</a>
          </span></p>
      </div>
    </div>
  </div>
  <script src="static/resources/scripts/axure/ios.js"></script>
</body>
<style type="text/css">
  a:link,
  a:visited {
    text-decoration: none;
    /*超链接无下划线*/
  }

  a:hover {
    text-decoration: underline;
    /*鼠标放上去有下划线*/
  }
</style>

</html>